@{
    ViewData["Title"] = "Ana Sayfa";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .header {
            text-align: center;
            padding: 20px 0;
        }

        .content-container {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .content {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>Hoş Geldin Kullanıcı</h1>
    </div>
    <div class="content-container">
        <div class="content">
            @if (TempData["VerificationSent"] != null)
            {
                <div class="alert alert-info">@TempData["VerificationSent"]</div>
            }
            @if (TempData["VerificationSuccess"] != null)
            {
                <div class="alert alert-success">@TempData["VerificationSuccess"]</div>
            }
            @if (TempData["VerificationFailed"] != null)
            {
                <div class="alert alert-danger">@TempData["VerificationFailed"]</div>
            }

            <div class="d-inline-flex">
                <form asp-action="SendVerificationCodeForLogout" asp-controller="Account" method="post" class="mr-2">
                    <button type="submit" class="btn btn-primary">Çıkış İçin Doğrulama Kodu Gönder</button>
                </form>

                <form asp-action="Logout" asp-controller="Account" method="post">
                    <button type="submit" class="btn btn-danger">Çıkış Yap</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
